<div class="container">
  
    <header class="page-header">
    <h2>
    <%= link_to '', applications_path , :class => "backBtn" %>
    <span>New application</span></h2>
    </header>
  
  
    <%= render 'form', :application => @application %>
 

 
    <!-- <h3>Actions</h3>
    <p><%= link_to 'Home', main_app.root_path %></p> -->        

</div>
